{% extends 'base.html.twig' %}

{% block title %}LOGIN{% endblock %}

{% block body %}
    <h1 style="text-align:center; font-size:50px ">LOGIN</h1>
    <form action="{{ path('app_login') }}" method="post" class="form" style="text-align:center; background-color: #19222B; color: white; 
    width:50%; margin-left:25%; margin-top: 30px">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
    <div class="inputs" style="text_align: center; align-items:center">
    <label style="font-size:25px; margin-top:10px ">Usuario</label>
    <input style="width:50%; text-align:center; margin-left:25%; margin-top:10px; margin-bottom:30px" type="email" value="{{last_username}}"  name="username" placeholder="email" class="form-control" required>
    <label>Contraseña</label>
    <input style="width:50%; text-align:center; margin-left:25%; margin-top:10px; margin-bottom:30px" type="password" name="password" placeholder="Contraseña" class="form-control" required>
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    </div>
    <button style="margin-bottom:20px" type="submit" class="btn btn-primary">Iniciar sesión</button>

    </form>
{% endblock %}
